<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.github.ifropc.kotomo.area.FindColumns" level="INFO"/>
    <logger name="io.github.ifropc.kotomo.area.FindAreas" level="INFO"/>
</configuration>
