bin/*
test/test results/*
**/*local*/*
**/*local*
.idea
.settings
classes
data
deploy
how it works
javadoc
lib/**
test/**
.classpath
.project
*.iml
**.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

extension/node_modules
extension/dist
